* {
    margin: 0;
    padding: 0;
}

.pw_box {
    display: grid;
    place-content: center;
    background: linear-gradient(270deg, #4568dc, #b06ab3);
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    height: 100vh;
}

.pw_container {
    width: 400px;
    background: linear-gradient(45deg, #4568dc, #b06ab3);
    padding: 20px;
}

.pw_header {
    padding: 1rem;
}

.pw {
    width: 100%;
    position: relative;
    font-size: 25px;
    background-color: #eee;
    padding: 1.25rem 0;
}

.form_control {
    display: flex;
    justify-content: space-between;
    margin-top: 0.75rem;
    color: #eee;
}

#len {
    width: 70px;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.generate {
    display: block;
    background-color: #eee;
    width: 60%;
    border: none;
    outline: none;
    font-size: 19px;
    padding: 10px;
    margin: 18px auto 20px auto;
    cursor: pointer;
}


@media screen and (max-width:440px) {
    .pw_container {
        width: 80%;
        margin: 0 auto;
    }
}
